@font-face {
    font-family: 'lato';
    src:
         url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
  }
  
*{
margin: 0;
padding: 0;
line-height: 1.6;
}

body{
min-height: 100vh;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
overflow-x: hidden;
font-family:'lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

nav .center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
}
@media (max-width: 400px) {
    nav .center {
        position: static;
        transform: none;
        text-align: left;
        padding-left: 10px;
    }
}
nav .right {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    padding-right: 10px; /* Pushes right section to the extreme right */
}

.navigation {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0, 10px;
}

nav a {
    height: 30px;
    padding: 5px 5px; /* Add padding for better clickability */
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    justify-content: center;
    font-size: 1rem;
}